
# Server
PORT=3000

# Supabase
SUPABASE_URL=https://dxxnmulpcsypdudhjcfc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4eG5tdWxwY3N5cGR1ZGhqY2ZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUxNDg0NjIsImV4cCI6MjA4MDcyNDQ2Mn0.GqqF-kPUhZ5sxUYihLbM5PA4AUzErujbNESpGnrR2tQ

# ImageKit
IMAGEKIT_PUBLIC_KEY=public_8VsfwqsHW23LLP3wOIf+WhodQRM=
IMAGEKIT_PRIVATE_KEY=private_v8ZTTVUJfStN9d/8dhTB6Vbm1hU=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/rfnhcidhg

# Cloudinary
CLOUDINARY_CLOUD_NAME=dcf2pnrzt
CLOUDINARY_API_KEY=253577116423682
CLOUDINARY_API_SECRET=TPxGuPeOUg9Wt53auSe6aZLK_UY

# JWT Secret
JWT_SECRET=le_focus_demande_accès_autoriser
